.idea

aws/.aws/
!aws/.aws/cli*
aws/.aws/config
!aws/.aws/config.seed
!aws/.aws/credentials

pyenv/.pyenv/plugins*
pyenv/.pyenv/shim*
pyenv/.pyenv/versions*
pyenv/.pyenv/cache
pyenv/.pyenv/version

config/.config/*
!config/.config/git*
!config/.config/gh-dash*
!config/.config/hcloud*
!config/.config/infracost*
!config/.config/gitup*
!config/.config/starship.toml
!config/xterm_256color_chart.svg

ssh/.ssh/*
!ssh/.ssh/config
!ssh/.ssh/id_ed25519
!ssh/.ssh/id_ed25519.pub
!ssh/.ssh/id_rsa_deploy
!ssh/.ssh/id_rsa
!ssh/.ssh/id_rsa.pub
!ssh/.ssh/work_rsa
!ssh/.ssh/work_rsa.pub
